*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    
}
.texto-header
{
    border-right: 2px solid black;
    padding-right: 10px;
  
}
header{
    height: 11vh;
}
main{
    min-height: 78vh;
}
.navbar-itens{
    text-decoration: none;
}
article{
    z-index: -1;
}
.caixa-cards{
    display: flex;
    justify-content: center;
    gap:30px
}
.titulo{
    background-image: linear-gradient(to right,rgb(72, 108, 226), rgb(193, 60, 255), rgb(255, 196, 0)); 
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.card-mechanics{
    border: 3px dashed rgb(138, 169, 255);
}
.card-IoT{
    border: 3px dashed rgb(218, 138, 255);
}
.card-eletric{
    border: 3px dashed rgb(255, 231, 123);
}

.mechatronics{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
footer{
    background-color: 
    rgb(39, 39, 39);
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 8vh;
    margin-top: 29px;
    /* height: 10vh; */
}
.texto-footer{
    color: white;
}
#carouselExample{
    width: 1000px;
}
.carossel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
}

@media (max-width: 768px){
    .caixa-cards{
        flex-direction: column;
    }
    .mechatronics{
        padding-top: 60px;
    }
}