body{
    background-color: #1c93bf;
    background-image: url(../img/Backgound2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
}

.home{
    
    width: 100%;
    height: 2000px;
    padding-top: 980px;
}

.intro-dados{
    max-width: 1500px;
    max-height: 1000px;
    padding-top: 50px;
}

.introducao{
    width: 60%;
    padding: 40px;

}
.dados-tec{
    background-color: rgb(0, 122, 221);
    min-width: 40%;
    padding: 20px;
    color: white;
}
.texto-intro{
    font-size: 18px;
}
.texto-topo{
    display: inline-block;
    padding-left: 50px;
}
.caixa-dados{
    display: flex;
    
}