@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Madimi+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
header{
    height: 8vh;
    position: fixed;
    width: 100%;
}
main{
    min-height: 87vh;
}
footer{
    height: 5vh;
}


.poppins-bold{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }



.navbar{
    background-color: #1c93bf; 
}
nav{
    font-family: "Open Sans", sans-serif;
}
#h2-logo{
    color: white;
    margin: 0px;
    padding: 11px 0px;
}
.nav-link{
    color: white;
    font-weight: 500;
    size: 35px;
    display: inline-block;
    padding: 0px;
}
.nav-item{
    padding: 8px 15px;
    width: 120px;
    display: flex;
    justify-content: center;
}
.caixa-imagetotoro{
    z-index: -1;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.imagetotoro{
    max-width: 1903px;
    object-fit: cover;
}
body{
    background-color: #043e53;
}
